# London Housing Dataset Analysis

This dataset is primarily centered around the housing market of London and contains additional relevant data
* Monthly average house prices
* Yearly number of houses sold
* Monthly number of crimes committed

The data used here is from the year 1985 to 2019 within different geographies

In [2]:
import pandas as pd
data = pd.read_csv(r'.\file.csv')
data.head(5)

,date,area,average_price,code,houses_sold,no_of_crimes
0,1/1/1995,city of london,91449,E09000001,17.0,NaN
1,2/1/1995,city of london,82203,E09000001,7.0,NaN
2,3/1/1995,city of london,79121,E09000001,14.0,NaN
3,4/1/1995,city of london,77101,E09000001,7.0,NaN
4,5/1/1995,city of london,84409,E09000001,10.0,NaN