# Police Dataset
Here, the data from a Police Check Post is given.
The data is available as a CSV file. The Dataset will be analyzed using Pandas tools.

In [7]:
import pandas as pd
data = pd.read_csv(r'.\file.csv')
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

## Data Cleaning
1. Remove the column that only contains missing values

In [16]:
#data.shape --> (65535, 15)
data.isnull().sum() #means remove country_name

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [18]:
data.drop(columns = 'country_name', inplace = True)

In [22]:
#data.isnull().sum() function validates removal was completed

2. For speeding, were men or women stopped more often

In [41]:
#data.head()
#Method 1, looking at all violation types
data.groupby('driver_gender').count()
#Conclusion --> F: 16310, M: 45164 --> Men were stopped 2.76 times more often

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
driver_gender,,,,,,,,,,,,,
F,16310,16310,16309,16275,16310,16310,16310,16310,366,16310,16310,16310,16310
M,45164,45164,45164,44947,45164,45164,45164,45164,2113,45164,45164,45164,45164

In [43]:
#Method 2, looking only at Speeding stops
data[data['violation'] == 'Speeding'].driver_gender.value_counts()
#Conclusion --> F: 11686, M: 25517 --> Men were stopped 2.76 times more often

driver_gender
M    25517
F    11686
Name: count, dtype: int64

3. Does Gender affect who gets searched during a stop?

In [50]:
data.groupby('driver_gender').search_conducted.sum()
#Conclusion --> F: 366, M: 2113 --> Men are searched more often

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

4. What is the mean stop_duration