# India census 2011 Dataset Analysis

* This data is about total Population, Demographics, Literacy, Districts, States, Workers, Religion, Education and Age.
* The data used here is from 2011 India Census of each district
* Data is available as csv file, originally from Kaggle
* Data will be analyzed using the Pandas tool set

In [6]:
import pandas as pd
data = pd.read_csv(r'.\file.csv')
data.head(5)

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

In [8]:
data.shape

(640, 25)

In [20]:
data.count().head(5) #no hint of null value issues, abrievated for space

District_code    640
State_name       640
District_name    640
Population       640
Male             640
dtype: int64

In [14]:
data.isnull().sum() #confirmed no null values

District_code           0
State_name              0
District_name           0
Population              0
Male                    0
Female                  0
Literate                0
Workers                 0
Male_Workers            0
Female_Workers          0
Cultivator_Workers      0
Agricultural_Workers    0
Household_Workers       0
Hindus                  0
Muslims                 0
Christians              0
Sikhs                   0
Buddhists               0
Jains                   0
Secondary_Education     0
Higher_Education        0
Graduate_Education      0
Age_Group_0_29          0
Age_Group_30_49         0
Age_Group_50            0
dtype: int64

In [22]:
data.dtypes

District_code            int64
State_name              object
District_name           object
Population               int64
Male                     int64
Female                   int64
Literate                 int64
Workers                  int64
Male_Workers             int64
Female_Workers           int64
Cultivator_Workers       int64
Agricultural_Workers     int64
Household_Workers        int64
Hindus                   int64
Muslims                  int64
Christians               int64
Sikhs                    int64
Buddhists                int64
Jains                    int64
Secondary_Education      int64
Higher_Education         int64
Graduate_Education       int64
Age_Group_0_29           int64
Age_Group_30_49          int64
Age_Group_50             int64
dtype: object