# COVID-19 Small Dataset Analysis
We have taken a small dataset of COVID-19, just for study purposes. Original dataset contains approx 19,000 rows
The data used here is until Apr 29, 2020
Data is available as csv file, originally from Kaggle
Exercise will use Pandas library

In [3]:
import pandas as pd
data = pd.read_csv(r'.\file.csv')
data.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7